.aboutproject {
  padding: 110px 70px;
}

.aboutproject__header {
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #fff;
  letter-spacing: -0.04em;
}

.aboutproject__container {
  display: flex;
}

.aboutproject__container:first-of-type {
  margin-top: 70px;
}

.aboutproject__container:last-of-type {
  margin-top: 110px;
}

.aboutproject__info_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  margin: 0;
  color: #fff;
  letter-spacing: -0.04em;
}

.aboutproject__info_subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 26px 0 0;
  color: #fff;
}

.aboutproject__info:first-of-type {
  margin-right: 53px;
}

.aboutproject__week_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 9px 14px;
  background-color: #3DDC84;
  text-align: center;
  color: #000
}

.aboutproject__week_title-last {
  background: #303030;
  color: #fff
}

.aboutproject__week_subtitle {
  margin: 15px 0 0;
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.aboutproject__week:first-of-type {
  width: 228px;
}

.aboutproject__week:last-of-type {
  width: 912px;
}

@media screen and (max-width: 768px) {
  .aboutproject {
    padding: 90px 50px;
  }

  .aboutproject__info_subtitle {
    font-size: 12px;
    line-height: 18px;
    margin: 22px 0 0;
  }

  .aboutproject__container:last-of-type {
    margin-top: 93px;
  }

  .aboutproject__week:first-of-type {
    width: 140px;
  }

  .aboutproject__week:last-of-type {
    width: 528px;
  }
}

@media screen and (max-width: 560px) {
  .aboutproject {
    padding: 70px 18px;
  }

  .aboutproject__header {
    padding: 0 0 28px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .aboutproject__container:first-of-type {
    flex-direction: column;
    margin-top: 60px;
  }

  .aboutproject__container:last-of-type {
    margin-top: 60px;
  }

  .aboutproject__info:last-of-type {
    margin-top: 56px;
  }

  .aboutproject__info_title {
    font-size: 18px;
    line-height: 21.78px;
  }

  .aboutproject__info_subtitle {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }

  .aboutproject__week_title {
    font-size: 11px;
    line-height: 13.31px;
    padding: 11px 10px;
  }

  .aboutproject__week_subtitle {
    margin-top: 10px;
    font-size: 11px;
    line-height: 12.74px;
  }
}

@media screen and (max-width: 350px) {
  .aboutproject__week:first-of-type {
    width: 100px;
  }

  .aboutproject__week:last-of-type {
    width: 184px;
  }
}