.navtab {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 12px;
}

.navtab__buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  text-decoration: none;
  color: #fff;
  background-color: #303030;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 10px;
  margin-right: 10px;
  transition: filter 0.5s linear;
}

.navtab__buttom:hover {
  cursor: pointer;
  filter: opacity(40%);
}

@media screen and (max-width: 420px) {
  .navtab__buttom {
    font-size: 10px;
    width: 82px;
    height: 26px;
    margin-right: 6px;
  }
}